@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: black;
  background-color: white;
}

ul, ol {
  margin: auto;
  padding: 2rem;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol li {
  padding-left: 0.5em;
}

.text-title {
  min-height: 35px;
  @apply text-red-600 font-bold;
}

.text-date {
  color: #838383;
  font-size: 70%;
  border-bottom: 1px dotted #CCCBC6;
  display: block;
  margin-bottom: 10px;
}

span + em {
  text-align: center;
  display: block;
  padding-bottom: 10px;
  font-weight: lighter;
}

.container p {
  margin-bottom: 15px;
  line-height: 1.86rem;
}

.blog-post-box {
  @apply align-top rounded-sm;
}

a.link {
  @apply no-underline text-blue-500;

  &:hover {
    @apply text-blue-900;
  }
}

section h2 {
  @apply font-bold text-red-400;
  margin-top: 35px;
  margin-bottom: 20px;
}